@import '../../theme.scss';

.Header-logo1 {
  margin-right: .5rem;
  color: $color-main;
}

.Header-name1 {
  color: #333333;
  font-weight: bold;
}

.Header-name2 {
  font-style: oblique;
  color: $color-main;
}
